alembic==1.18.3
aniso8601==10.0.1
attrs==25.4.0
Authlib==1.6.6
blinker==1.9.0
certifi==2020.6.20
cffi==2.0.0
chardet==3.0.4
charset-normalizer==3.4.4
click==8.1.3
colorama==0.4.6
contourpy==1.3.3
cryptography==46.0.4
cycler==0.12.1
dominate==2.7.0
dotenv==0.9.9
et_xmlfile==2.0.0
Flask==3.1.2
Flask-Bootstrap==3.3.7.1
Flask-CKEditor==0.4.6
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
flask-restx==1.3.2
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
fonttools==4.61.1
fpdf==1.7.2
greenlet==3.3.1
gunicorn==20.1.0
idna==2.10
importlib_resources==6.5.2
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
lml==0.2.0
Mako==1.3.10
MarkupSafe==2.1.1
matplotlib==3.10.8
numpy==2.4.2
openpyxl==3.1.5
packaging==26.0
pandas==3.0.0
pdfkit==1.0.0
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.1.0
pip==24.0
playwright==1.58.0
psycopg2-binary==2.9.6
pycparser==3.0
pyee==13.0.0
pyexcel==0.7.4
pyexcel-io==0.6.7
pyparsing==3.3.2
pypdfium2==5.4.0
python-dateutil==2.8.2
python-dotenv==1.2.1
pywin32==311
referencing==0.37.0
reportlab==4.4.9
requests==2.24.0
rpds-py==0.30.0
setuptools==65.5.0
six==1.17.0
SQLAlchemy==2.0.46
texttable==1.7.0
typing_extensions==4.15.0
tzdata==2025.3
urllib3==1.25.10
visitor==0.1.3
Werkzeug==3.1.5
wheel==0.36.2
WTForms==3.0.1
XlsxWriter==3.0.8
xlwings==0.33.20
email_validator